# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = ozogxyz
	email = 50372354+ozogxyz@users.noreply.github.com
[alias]
	mine = log --oneline --author=ozogxyz
	st = status
[github]
	user = ozogxyz
[init]
	defaultBranch = main
[core]
	editor = /opt/local/bin/nvim
[pull]
	rebase = true
