[submodule "vim/.vim/pack/syntax/start/ale"]
	path = vim/.vim/pack/syntax/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/.vim/pack/others/start/fzf.vim"]
	path = vim/.vim/pack/others/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
