tags
vim/.vim/spell/*.spl
vim/.vim/bundle
vim/.vim/backups
vim/.vim/swaps
vim/.vim/.netrwhist
vim/.vim/.netrwbook
nvim/.config/nvim/spell/
nvim/.config/nvim/.netrwhist
nvim/.config/nvim/lazy-lock.json
nvim/.config/nvim/pack/
